// The Future by Typefoundry
@font-face {
    font-family: 'Alaska';
    src: url('../fonts/Alaska-Regular.woff2') format('woff2'),
        url('../fonts/Alaska-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alaska';
    src: url('../fonts/Alaska-SemiBold.woff2') format('woff2'),
        url('../fonts/Alaska-SemiBold.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}


