<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_HOST} localhost
    RewriteRule ^$ src/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ src/$1
</IfModule>