.slider {

  &__wrapper {
    & + .cards {
      padding-top: var(--section-padding);
    }
  }
  
  &__button {
    text-align: center;
    margin-top: calc(var(--section-padding)*1.5);
  }

  &__title {
    @include text-xl;
  }

  h3 {
    @include text-sm;
    @include semibold;
    margin-bottom: 0.5rem;
  }

  figure {

    img {
      display: flex;
      max-width: 90px;
      height: 70px;
      width: 100%;
      margin-bottom: var(--paragraph-spacing);
    }
    p {
      font-family: var(--font-secondary);
      padding-right: 2rem;
    }
  }
  

  --f-carousel-slide-width: 100%;
  --f-carousel-spacing: 0;
  --f-carousel-slide-padding: 0;

  --f-button-prev-pos: 5rem;
  --f-button-next-pos: 5rem;

  --f-button-bg: #fff;
  --f-button-color: #333;

  --f-button-width: 48px;
  --f-button-height: 48px;
  --f-button-border-radius: 50%;

  --f-button-svg-width: 27px;
  --f-button-svg-height: 27px;
  --f-button-svg-stroke-width: 1.5;

  --f-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}




.fancybox__container {
  --fancybox-color: #333;
  --fancybox-bg: rgb(255 255 255 / 95%);

  --f-spinner-color-1: rgba(0, 0, 0, 0.1);
  --f-spinner-color-2: rgba(17, 24, 28, 0.8);
}

.fancybox__nav {
  --f-button-next-pos: 12px;
  --f-button-prev-pos: 12px;

  --f-button-width: 58px;
  --f-button-height: 58px;

  --f-button-color: #333;
  --f-button-hover-color: var(--light);

  --f-button-bg: transparent;
  --f-button-hover-bg: var(--white);
  --f-button-active-bg: var(--white);
  --f-button-border-radius: 0;

  --f-button-svg-height: 32px;
  --f-button-svg-width: 28px;

  --f-button-svg-stroke-width: 0;
  --f-button-svg-fill: var(--primary);
  --f-button-svg-filter: none;
}

.fancybox__toolbar {
  --f-button-color: #0d0c22;
  --f-button-hover-color: #0d0c22;

  --f-button-bg: transparent;
  --f-button-hover-bg: transparent;
  --f-button-active-bg: transparent;

  --f-button-svg-stroke-width: 1.5;
  --f-button-svg-filter: none;

  background: transparent;
  text-shadow: none;
  
  .fancybox__slide {
    padding: 12px 0px;
  }
  
  .fancybox__thumbs.is-classic {
    --f-thumb-opacity: 1;
    --f-thumb-hover-opacity: 1;
    --f-thumb-selected-opacity: 1;
  
    --f-thumb-width: 5%;
    --f-thumb-height: 100px;
    --f-thumb-gap: 4px;
    --f-thumb-offset: 6px;
    --f-thumb-outline: 0;
  }
  
  .fancybox__thumbs.is-classic .f-thumbs__slide {
    transition: all 0.2s;
  }
}


// ================================================
//                  MEDIA QUERIES
// ================================================

  @include bp(lg) {
    .fancybox__thumbs.is-classic {          
        --f-thumb-height: 100px;
        --f-thumb-width: 15%;
      }

    // .fancybox__container.thumbs-right {

    //   .fancybox__toolbar {
    //       width: calc(100% - 180px);
    //       }    
    //       .fancybox__carousel  {
    //           width: calc(100% - 180px);
    //       }
    //       .fancybox__footer  {
    //           width: 180px;
    //           position: absolute;
    //           right: 0;
    //           top: 0;
    //           height: 100%;
    //           padding: 0 ;
    //           background-color: var(--light);
    //       }
    // }
  }

  // @include bp(md) { 
  //     .fancybox__container.thumbs-right {
    
  //       .fancybox__toolbar {
  //           width: calc(100% - 120px);
  //           }    
  //           .fancybox__thumbs.is-classic {          
  //               --f-thumb-width: 100%;
  //               --f-thumb-height: 60px;
  //           }
  //           .fancybox__carousel  {
  //               width: calc(100% - 120px);
  //           }
  //           .fancybox__footer  {
  //               width: 120px;
  //               height: 100%;
  //               padding: 0 ;
  //               background-color: var(--light);
  //           }
  //     }
  // }

  @include bp(sm) {
    .fancybox__thumbs.is-classic {          
      --f-thumb-height: 80px;
      --f-thumb-width: 25%;
    }
  }

  // @include bp(xs) {
  //   .fancybox__container.thumbs-right {
  
  //     .fancybox__toolbar {
  //         width: 100%;
  //         }    
  //         .fancybox__carousel  {
  //             width: 100%;
  //         }
  //         .fancybox__footer  {
  //             display: none;
  //         }
  //   }
  // }








@media screen and (min-width: 640px) {
  .slider {
    --f-carousel-slide-width: calc(100% / 2);
    --f-carousel-slide-padding: 0 1rem;
  }
}

@media screen and (min-width: 1240px) {
  .slider {
    --f-carousel-slide-width: calc(100% / 3);
  }
}

