.footer{
    background-color: var(--bg-color);
    margin-top: auto; // sticky footer
    @include text-md;
    padding: var(--container-padding) 0;

    .row {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
    }

    &__copyright{
        font-size: 13px;
        margin-bottom: 0;
        color: var(--secondary);

        &.--right {
            text-align: right;
            @include bp(md) {
                text-align: left;
            }
        }
        a {
            transition: all 0.3s ease-in-out;
            
            &:hover {
                transition: all 0.3s ease-in-out;
                color: var(--color);
            }
        }

        li {
            line-height: 1rem;
        }
    }

    &__top {
        padding-bottom: calc(var(--container-padding)/2);

        a {
            white-space: nowrap;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__bottom{
        padding-top: calc(var(--container-padding)/2);
        border-top: 1px solid var(--primary);

        &__icons {
            display: flex;
            justify-content: flex-end;
            column-gap: var(--container-padding);

            img {
                height: 40px;
            }
        }
    }
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gutter-x) / 2);

    &__item {
        a {
            display: flex;
            align-items: center;
            width: fit-content;

            &:hover {
                opacity: 0.6;
                transition: opacity 0.3s;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    &__icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 1000%;
        border: 2px solid var(--primary);

        svg {
            width: 24px;
            height: 24px;
            fill: var(--color);
        }
    }
}

// Icons 
.icon--footer-dots, .icon--footer-dots-sm {
    width: 100%;
    height: 100%;
    max-height: 70px;
}
.icon--footer-dots-sm {
    display: none;
    position: relative;
    width: 140px;

    svg {
        position: absolute;
        left: -100%;
    }
}

.back-to-top {
    margin-left: auto;
    background-color: var(--color);
    border: none;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    z-index: 1000;

    svg {
        fill: #fff;
        width: 20px;
        height: 17.5px;
    }

    &:hover {
        transition: all .3s ease;
        transform: scale(1.1);
    }
}

// ================================================
//                  MEDIA QUERIES
// ================================================
@include bp(md){
    .footer {
        &__bottom {
            &__icons {
                justify-content: flex-start;
                margin-top: var(--container-padding);
            }
        }
    }
}


@include bp(sm){
    .icon--footer-dots {
        display: none;
    }
    .icon--footer-dots-sm {
        display: contents;
    }

    .footer {
        &__bottom {
            &__icons img {
                height: 30px;
            }
        }
    }
}

@include bp(xs){
    .footer {
        @include text-sm;

        &__top {
            .col-6 {
                align-self: stretch;
            }

            > .row {
                align-items: flex-end;
            }
        }

        &__bottom__icons {
            display: flex;
            row-gap: var(--paragraph-spacing);
            flex-wrap: wrap;
        }
    }


    .icon--footer-dots-sm svg {
        left: -50%;
    }

    .back-to-top {
        width: 46px;
        height: 46px;
    }
}

@include bp(319){
    .footer {
        @include text-xs;
    }
}